body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #0e0e0e;
}

header {
  background-color: #1b1b1b;
}

header #navbar {
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

header img#logo {
  max-width: 150px;
}

header #menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

header #nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header #nav a {
  display: block;
  padding: 15px;
}

main #home {
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

main #home .apresentacao {
  padding: 15px;
}

main #home .apresentacao img {
  width: 350px;
  padding: 0 0 20px 0;
}

main #home .apresentacao p {
  padding-right: 40px;
  margin-bottom: 100px;
}
main #home .apresentacao a {
  padding: 20px 60px;
  background: #ff842b;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

main #home .apresentacao-img img {
  width: 600px;
  margin: 80px 0 0 70px;
}

@media screen and (max-width: 1200px) {
  main #home .apresentacao-img img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header #nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #1b1b1b;
    text-align: center;
  }

  header #nav a {
    display: block;
    padding: 15px;
  }

  header #menu-icon {
    display: block;
  }

  main #home .apresentacao img {
    width: 230px;
    padding: 0 0 20px 0;
  }

  main #home .apresentacao p {
    padding-right: 5px;
    margin-bottom: 50px;
  }
}
